<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}WatchShop{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">

{% include "partials/header.html" %}

<main class="container mx-auto p-4">
    {% block content %}
    <!-- Nội dung trang con sẽ được chèn ở đây -->
    {% endblock %}
</main>
{% include 'messenger/chat_box.html' %}

{% include "partials/footer.html" %}
<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>

</body>
</html>
